.svg {
    filter: invert(100%) sepia(87%) saturate(460%) hue-rotate(176deg) brightness(104%) contrast(92%);
}
.icons {
    display: flex;
    justify-content: space-around;
}
.title {
    margin-left: 1rem;
}
.intro {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}